<div class="messages">
  <ReceivedMessage/>
  <SentMessage />
  <NewMessageInput />
</div>


<br><br>
<div class="random-counter-test">
<strong>Random test Counter</strong>
<DoubleIt />
</div>

{{outlet}}
